@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    margin: 0;
    padding: 0;
}

* {
  font-family: 'Montserrat', sans-serif !important;
}

.cl-internal-b3fm6y{
  display: none !important;
}
.cl-card{
  border-radius: 5px !important;
}

.ant-form-item{
  margin-bottom: 5px !important;
}

table {
  border: 1px solid #e8e8e8;
  margin-top: 10px;
}